/* -------------------------------------------------------------------------------- */
/*	12. Entry Content
/* -------------------------------------------------------------------------------- */

/* .entry-content:after {
  content: "";
  display: block;
  clear: both; }

.entry-content > ul,
.entry-content > div,
.entry-content > div > div > ul {
  border: 2px solid red;
  margin-bottom: 20px;
  padding-left: 20px;
  text-align: left; }

.entry-content > ul > li,
.entry-content > div > ul > li,
.entry-content > div > div > ul > li {
  border: 2px solid blue;
  position: relative;
  list-style: none; }

.entry-content > ul > li:before,
.entry-content > div > ul > li:before,
.entry-content > div > div > ul > li:before {
  border: 2px solid orange;
  color: var(--primary-color);
  content: "\f113";
  font-family: "woodmart-font";
  position: absolute;
  top: 6px;
  left: -20px;
  font-weight: var(--font-weight);
  font-size: 10px; }

.entry-content p > * > a,
.entry-content p > a,
.entry-content > a {
  border: 2px solid azure;
  font-weight: var(--font-weight); }

.entry-content p > * > a:hover,
.entry-content p > a:hover,
.entry-content > a:hover {
  border: 2px solid brown;
  color: var(--primary-color); } */

/* -------------------------------------------------------------------------------- */
/*	12. Gutenberg Blocks
/* -------------------------------------------------------------------------------- */

/* Block: Reset base margins ---------------------------- */
.wp-block-archives,
.wp-block-calendar,
.wp-block-categories,
.wp-block-code,
.wp-block-columns,
.wp-block-cover,
.wp-block-cover-image,
.wp-block-embed,
.wp-block-file,
.wp-block-gallery,
.wp-block-group,
.wp-block-image,
.wp-block-latest-comments,
.wp-block-latest-posts,
.wp-block-media-text,
.wp-block-preformatted,
.wp-block-pullquote,
.wp-block-quote,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large,
.wp-block-search,
.wp-block-tag-cloud,
.wp-block-verse,
.wp-block-video {
  clear: both;
  margin-bottom: 40px;
  margin-top: 40px; }

  /* Block: Base Margins ----------------------- */
  :root .entry-content > *:first-child,
  :root *[class*="_inner-container"] > *:first-child, /* OK */
  .wp-block-media-text .wp-block-media-text__content > *:first-child, /* OK */
  .wp-block-column > *:first-child, /* OK */
  .wp-block-button:not(.alignleft):not(.alignright):first-child { /* OK */
    margin-top: 0; }

  .entry-content:not([class]) p:last-child,
  :root .entry-content > *:last-child,
  :root *[class*="_inner-container"] > *:last-child, /* OK */
  .wp-block-media-text .wp-block-media-text__content > *:last-child, /* OK */
  .wp-block-column > *:last-child, /* OK */
  .wp-block-button:not(.alignleft):not(.alignright):last-child { /* OK */
    margin-bottom: 0; }

/* Block: Columns ---------------------------- */
.wp-block-column {
  margin-bottom: 30px; }


@media(max-width: 768px) {
  /* While columns are stacked */
  .wp-block-column:last-child {
    margin-bottom: 0; }
}



        /* @media(min-width: 768px) {
          .wp-block-column{
            flex-basis: calc(50% - 15px) !important; }
        } */


/* @media (max-width: 992px) {

  .wp-block-column[style*="flex-basis"] {
    flex-grow: 0; }
  .wp-block-column:not(:first-child) {
    margin-left: 30px; }
} */

/* @media (max-width: 781px) {
  .wp-block-column {
    flex-basis: calc(100% - 16px);
    flex-grow: 0;
  }

  .wp-block-column:nth-child(2n) {
    margin-left: 0px;
  }
} */

/* OK */
@media (min-width: 600px) and (max-width: 781px) {
  .wp-block-column {
    background: red;
    flex-basis: calc(100% - 15px) !important;
    flex-grow: 1; }
  .wp-block-column:nth-child(2n) {
    margin-left: 0px;
  }
}

@media (min-width: 782px) and (max-width: 992px) {
  .wp-block-column {
    flex-basis: calc(50% - 15px) !important; background: violet;}
}

@media ( max-width: 576px ) {
	/* While columns are stacked */
	.wp-block-column:last-child {
		margin-bottom: 0;
	}
}

/* Block: Gallery ----------------------------- */
.wp-block-gallery > .blocks-gallery-grid {
	width: 100%; }

.wp-block-gallery.columns-2 .blocks-gallery-item { max-width: 50%; }
.wp-block-gallery.columns-3 .blocks-gallery-item { max-width: 33.33%; }
.wp-block-gallery.columns-4 .blocks-gallery-item { max-width: 25%; }
.wp-block-gallery.columns-5 .blocks-gallery-item { max-width: 20%; }
.wp-block-gallery.columns-6 .blocks-gallery-item { max-width: 16.66%; }
.wp-block-gallery.columns-7 .blocks-gallery-item { max-width: 14.28%; }
.wp-block-gallery.columns-8 .blocks-gallery-item { max-width: 12.5%; }
.wp-block-gallery.columns-9 .blocks-gallery-item { max-width: 11.11%; }

/* Alignments ---- */
.alignfull {
  width: 100vw;
  margin-left: calc( 50% - 50vw );
  max-width: 100vw; }

.alignleft {
  float: left; }
.alignright {
  float: right; }

.alignleft:not(.is-resized),
.alignright:not(.is-resized) {
	max-width: 50%; }

.aligncenter,
.aligncenter img {
  margin-left: auto;
  margin-right: auto; }

/* Block: Tagcloud ----------------------------- */
.wp-block-tag-cloud.alignleft {
  text-align: left; }
.wp-block-tag-cloud.aligncenter {
  text-align: center; }
.wp-block-tag-cloud.alignright {
  text-align: right; }

/* Block: Social ----------------------------- */
.wp-block-social-links.alignright {
  justify-content: flex-end; }

.wp-block-social-links {
  position: static;
  padding-left: 0; }

.wp-social-link {
	margin-bottom: 0;
	margin-left: 0;
	margin-top: 0; }

.wp-social-link:hover {
  transform: none; }

/* Block: Table ----------------------------- */
table.is-style-stripes * {
	border: none; }

.wp-block-table.is-style-stripes {
	border: none; }

table.is-style-stripes tbody tr:nth-child(odd),
.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
	background-color: #F8F8F8; }

.wp-block-table td,
.wp-block-table th {
  padding: 15px 12px;
  border-color: var(--border-color); }

.wp-block-table tfoot,
.wp-block-table thead {
  border: none; }

/* Block: Calendar --------------------------- */
.wp-block-calendar {
	border-color: var(--border); }

.wp-block-calendar table caption,
.wp-block-calendar table tbody {
	color: inherit; }

.wp-block-calendar table th {
  font-weight: var(--font-weight);
	background-color: transparent; }

/* Block: Latest posts --------------------------- */
/* .wp-block-latest-posts.is-grid {
  list-style: none; } */

.wp-block-latest-posts.is-grid {
  margin-left: -20px; }

.wp-block-latest-posts.is-grid li {
  position: static;
  margin: 0 0 20px 20px; }

.wp-block-latest-posts.is-grid li:before {
  content: none; }

.wp-block-latest-posts.is-grid.columns-2 li {
  width: calc( ( 100% / 2 ) - 20px ); }

.wp-block-latest-posts.is-grid.columns-3 li {
  width: calc( ( 100% / 3 ) - 20px ); }

.wp-block-latest-posts.is-grid.columns-4 li {
  width: calc( ( 100% / 4 ) - 20px ); }

.wp-block-latest-posts.is-grid.columns-5 li {
  width: calc( ( 100% / 5 ) - 20px ); }

.wp-block-latest-posts.is-grid.columns-6 li {
  width: calc( ( 100% / 6 ) - 20px ); }

@media (max-width: 992px) {
  .wp-block-latest-posts.is-grid.columns-4 li,
  .wp-block-latest-posts.is-grid.columns-5 li,
  .wp-block-latest-posts.is-grid.columns-6 li {
    width: calc( ( 100% / 3 ) - 20px ); }
}

@media (max-width: 768px) {
  .wp-block-latest-posts.is-grid.columns-3 li,
  .wp-block-latest-posts.is-grid.columns-4 li,
  .wp-block-latest-posts.is-grid.columns-5 li,
  .wp-block-latest-posts.is-grid.columns-6 li {
    width: calc( ( 100% / 2 ) - 20px ); }
}

@media (max-width: 576px) {
  .wp-block-latest-posts.is-grid.columns-2 li,
  .wp-block-latest-posts.is-grid.columns-3 li,
  .wp-block-latest-posts.is-grid.columns-4 li,
  .wp-block-latest-posts.is-grid.columns-5 li,
  .wp-block-latest-posts.is-grid.columns-6 li {
    width: calc( ( 100% / 1 ) - 20px ); }
}

.wp-block-latest-posts li {
  margin-bottom: 20px; }

.wp-block-latest-posts .wp-block-latest-posts__featured-image {
  margin-bottom: 20px; }

.wp-block-latest-posts li > a {
  display: block;
  color: #0D0A0B;
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: 700;
  text-decoration-color: transparent;
  text-decoration-line: underline; }


.wp-block-latest-posts .wp-block-latest-posts__post-author {
  color: inherit;
  font-size: inherit; }

.wp-block-latest-posts .wp-block-latest-posts__post-date {
	color: inherit;
	font-size: inherit;
	margin-top: 12px }

.wp-block-latest-posts__post-excerpt {
  margin-bottom: 0;
	line-height: 1.4; }

.wp-block-latest-posts li:hover > a {
  color: var(--primary-color);
  text-decoration-color: var(--primary-color);
  text-decoration-line: underline; }

/* Block: Shared Nesting Alignment Resets ---- */
[class*="__inner-container"] .wp-block-group:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright),
[class*="__inner-container"] .wp-block-cover:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright) {
	margin-left: auto;
	margin-right: auto;
	max-width: 58rem; }

.alignfull > [class*="__inner-container"] > .wp-block-group.alignwide,
.alignfull > [class*="__inner-container"] > .wp-block-group:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright),
.alignfull > [class*="__inner-container"] > .wp-block-cover.alignwide,
.alignfull > [class*="__inner-container"] > .wp-block-cover:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright) {
	margin-left: auto;
	margin-right: auto; }

.alignfull > [class*="__inner-container"] > .wp-block-group:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright),
.alignfull > [class*="__inner-container"] > .wp-block-cover:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright) {
	margin-left: 0; }

/* Block: Shared Nesting Alignment Resets ---- */
[class*="__inner-container"] .wp-block-group:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright),
[class*="__inner-container"] .wp-block-cover:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright) {
	margin-left: auto;
	margin-right: auto;
	max-width: 58rem; }

.alignfull > [class*="__inner-container"] > .wp-block-group.alignwide,
.alignfull > [class*="__inner-container"] > .wp-block-group:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright),
.alignfull > [class*="__inner-container"] > .wp-block-cover.alignwide,
.alignfull > [class*="__inner-container"] > .wp-block-cover:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright) {
	margin-left: auto;
	margin-right: auto; }

.alignfull > [class*="__inner-container"] > .wp-block-group:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright),
.alignfull > [class*="__inner-container"] > .wp-block-cover:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright) {
	margin-left: 0; }

  .has-full-width-content .entry-content,
  .has-full-width-content .entry-content .alignwide {
  	max-width: 100%;
  	width: 100%;
  }

  .wp-block-image.alignwide img,
  .wp-block-image .alignwide img,
  .wp-block-image.alignfull img,
  .wp-block-image .alignfull img {
  	width: 100%; }

  /* .alignnone,
  .aligncenter,
  .alignleft,
  .alignright,
  .alignwide,
  .alignfull {
  	margin: 3rem 0;
  }

  .alignnone,
  .aligncenter,
  .alignleft,
  .alignright {
  	max-width: 100%;
  }

  .alignfull {
  	margin: 5rem 0;
  }

  .alignwide {
  	max-width: 112rem;
  } */

  /* .alignwide.wp-block-cover + .alignwide.wp-block-cover,
  .alignwide.wp-block-cover + .alignwide.has-background,
  .alignwide.has-background + .alignwide.wp-block-cover,
  .alignwide.has-background + .alignwide.has-background {
  	margin-top: -3rem;
  }

  .alignfull.wp-block-cover + .alignfull.wp-block-cover,
  .alignfull.wp-block-cover + .alignfull.has-background,
  .alignfull.has-background + .alignfull.wp-block-cover,
  .alignfull.has-background + .alignfull.has-background {
  	margin-top: -5rem;
  }

  .wp-block-columns.alignwide,
	.wp-block-columns.alignfull {
		margin-bottom: 2rem;
	} */

	/* .wp-block-columns + .wp-block-columns {
		margin-top: 0;
	} */

	/* .wp-block-columns.alignwide + .wp-block-columns.alignwide,
	.wp-block-columns.alignfull + .wp-block-columns.alignfull {
		margin-top: -2rem;
	} */

	/* .wp-block-column {
		font-size: 1.6rem;
		margin-bottom: 4rem;
    } */

    /* BLOCK: PULLQUOTE */

  	.wp-block-pullquote.alignwide p,
  	.wp-block-pullquote.alignfull p,
  	.wp-block-pullquote.is-style-solid-color.alignfull blockquote p,
  	.wp-block-pullquote.is-style-solid-color.alignwide blockquote p {
  		font-size: 2.5em;
  	}

    /* BLOCK: GROUP */

  	.wp-block-group.alignfull:not(.has-background) > [class*="__inner-container"] > .wp-block-group:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright),
  	.wp-block-group.alignfull:not(.has-background) > [class*="__inner-container"] > .wp-block-cover:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright) {
  		margin-left: calc( ( 100vw - 112rem ) / 2 );
  	}
